header.main-header
	.main-header__top
		.container
			.main-header__top-wrap
				ul.main-menu
					li
						a(href="#") О компании
					li
						a(href="#") Абонентам
					li
						a(href="#") Документы
					li
						a(href="#") Коммерческие услуги
					li
						a(href="#") Контакты

				a(href="#").btn-visual-impared
					img(src="assets/i/glassses-white.svg" alt="icon")
					span Версия для слабовидящих

	.main-header__content
		.container
			.main-header__content-wrap
				.logo
					a(href="#").logo__link
						img(src="assets/i/logo.jpg" alt="logo")
					h1.logo__title ООО «ЖИЛКОМСЕРВИС»

				.main-header__data
					.main-header__contatcs
						.phone
							img(src="assets/i/phone.svg")
							a(href="tel:89189444920") 8 918 944 49 20
						.search
							input(type="text" name="search" placeholder="Поиск по сайту")
							img(src="assets/i/search.svg")
					.main-header__address
						img(src="assets/i/address.svg")
						span 385112, Респ Адыгея, Тахтамукайский р-н, аул Старобжегокай, ул Ленина, д 35 к 1


