header.main-header
	.main-header__top
		.container
			.main-header__top-wrap
				ul.main-menu
					li
						a(href="#") О компании
					li
						a(href="#") Абонентам
					li
						a(href="#") Документы
					li
						a(href="#") Коммерческие услуги
					li
						a(href="#") Контакты

				a(href="#").btn-visual-impared
					img(src="assets/i/glassses-white.svg" alt="icon")
					span Версия для слабовидящих
