extends template

block css
	//- link(rel="stylesheet" type="text/css" href="assets/i/svg/bg/css/sprite.css")
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Main

block content
	include ../includes/mixins
	.hidden
		include ../../../build/assets/i/svg/inline/sprite.svg

	include ../includes/header
	.container
		.banner
			img(src="assets/i/header-image.jpg" alt="header-image")
		main.main-wrap
			.main-content
				.features
					.features__item
						img(src="assets/i/water.svg" alt="")
						h3.features__title Качество воды
					.features__item
						img(src="assets/i/write.svg" alt="")
						h3.features__title Обращение в приемную
					.features__item
						img(src="assets/i/recycle-water.svg" alt="")
						h3.features__title Подключение к сетям
				section.section
					h2.section__title ООО «Жилкомсервис» -
					p добыча питьевых подземных вод для питьевого и хозяйственно-бытового водоснабжения сельских населенных пунктов в МО «Старобжегокайское сельское поселение» Тахтамукайского района Республики Адыгея

			aside.sidebar
				.tarrifs
					.tarrifs__content
						h3.tarrifs__title ТАРИФЫ НА 2020 ГОД
						ul.tarrifs__list
							li
								h4 с 1.01.2020 по 30.06.2020
								p Водоснабжение: <strong>42,50 руб./1мЗ</strong><br> Водоотведение:<strong> 29,69 руб./1мЗ</strong>
							li
								h4 с 1.07.2020 по 31.12.2020
								p Водоснабжение:<strong> 43,98 руб./1мЗ</strong><br> Водоотведение:<strong> 30,86 руб./1мЗ</strong>

				.dispetcher
					h3.dispetcher__title ДИСПЕТЧЕРСКАЯ СЛУЖБА
					p Круглосуточно принимает заявки на проведение ремонтных работ по <strong>тел.: 3-32 - 42</strong>

	include ../includes/scripts/ie-scripts

block scripts
	script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
