@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';
@import '../libs/slick/slick/slick.scss';
// @import '../../../build/assets/i/svg/bg/css/sprite.css'
html,
body {
	font-size: 17px;
}

body {
	margin: 0;
	padding: 0;
	//padding-bottom: 700px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: #222;
	background: white;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	@include reset-list;
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

@media screen and (max-width: $xl) {
	.container-big {
		width: 768px;
	}
}

@media screen and (max-width: $md) {
	.container-big {
		padding: 0 30px;
		width: 320px;
	}
}
a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}
.main-header__top {
	background: $blue-bayoux;
}
.main-header__top-wrap {
	display: flex;
	justify-content: space-between;
}
.main-menu {
	display: flex;
	li:last-of-type a {
		border: none;
	}
	a {
		display: block;
		padding: 18px 20px;
		color: white;
		border-right: 1px solid $gull-gray;
		transition: all .3s;
		&:hover {
			background: darken($blue-bayoux, 5%);
		}
	}
}

.btn-visual-impared {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding: 0 12px;
	height: 33px;
	color: white;
	background: $sunset-orange;
	border-radius: 4px;
	transition: all .4s;
	img {
		margin-right: 12px;
	}

	&:hover {
		background: darken($sunset-orange, 20%);
	}
}
.main-header__content {
	border-bottom: 7px solid $blue-bayoux;
}
.main-header__content-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.logo {
	display: flex;
	align-items: center;
	&__title {
		margin-left: 20px;
		font-size: 24px;
		color: $blue-bayoux;
	}
}
.phone {
	display: flex;
	align-items: center;
	margin-right: 20px;
	img {
		margin-right: 6px;
	}
	a {
		font-size: 20px;
		color: black;
	}
}
.main-header__contatcs {
	display: flex;
	align-items: center;
	margin-bottom: 14px;
}
.search {
	flex: 1;
	position: relative;
	border: 1px solid #ccc;
	input {
		padding: 8px 5px 5px 5px;
		width: 100%;
		font-size: 18px;
		border: none;
	}
	img {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
.main-header__address {
	display: flex;
	align-items: center;
	img {
		margin-right: 20px;
	}
	span {
		font-size: 14px;
		color: #888;
	}
}
.main-wrap {
	display: flex;
}
.main-content {
	flex: 1;
	padding: 25px 40px 25px 25px;
}
.banner {
	margin-bottom: 40px;
}
.features {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	&__item {
		display: flex;
		align-items: center;
		padding: 0 24px;
		border-right: 2px solid #ccc;
		&:last-of-type {
			border: none;
		}
		img {
			margin-right: 16px;
		}
	}
}
.sidebar {
	flex: 0 0 300px;
}
.section {
	padding: 20px;
	background: #f8f8f8;
	&__title {
		margin-bottom: 10px;
	}
	p {
		font-weight: bold;
		line-height: 1.6;
		color: #CC676B;
	}
}
.tarrifs {
	margin-bottom: 40px;
	padding: 28px 14px 14px;
	color: white;
	background: linear-gradient(90deg, #4393D1, #3267B7);
	&__content {
		padding: 0 20px 20px 20px;
		border-left: 1px solid white;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
	}
	&__title {
		position: relative;
		top: -14px;
		text-align: center;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 14px;
			width: 26px;
			height: 1px;
			background: #fff;
		}
		&::before {
			left: -20px;
		}
		&::after {
			right: -20px;
		}
	}
	&__list {
		li {
			margin-bottom: 80px;
			&:last-of-type {
				margin-bottom: 0;
			}
			h4 {
				margin-bottom: 20px;
			}
			p {
				font-size: 14px;
				line-height: 1.6;
			}
		}
	}
}
.dispetcher {
	position: relative;
	padding: 40px 20px 40px 40px;
	border: 1px solid $blue-bayoux;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 100%;
		background: $blue-bayoux;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 16px;
		text-transform: uppercase;
		color: $blue-bayoux;
	}
	p {
		font-size: 14px;
		color: $blue-bayoux;
	}
}
.sidebar {
	margin-bottom: 180px;
}
.main-footer {
	padding: 40px 0;
	color: white;
	background: $blue-bayoux;
	&__wrap {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		a {
			color: white;
		}
	}
}

