@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';
@import '../libs/slick/slick/slick.scss';
// @import '../../../build/assets/i/svg/bg/css/sprite.css'
html,
body {
	font-size: 17px;
}

body {
	margin: 0;
	padding: 0;
	padding-bottom: 700px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: #222;
	background: #f1f1f1;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	@include reset-list;
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

@media screen and (max-width: $xl) {
	.container-big {
		width: 768px;
	}
}

@media screen and (max-width: $md) {
	.container-big {
		padding: 0 30px;
		width: 320px;
	}
}
a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}
.main-header__top {
	background: $blue-bayoux;
}
.main-header__top-wrap {
	display: flex;
	justify-content: space-between;
}
.main-menu {
	display: flex;
	a {
		display: block;
		padding: 18px 20px;
		color: white;
		border-right: 1px solid $gull-gray;
		transition: all .3s;
		&:hover {
			background: darken($blue-bayoux, 5%);
		}
	}
}

.btn-visual-impared {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding: 0 12px;
	height: 33px;
	color: white;
	background: $sunset-orange;
	border-radius: 4px;
	transition: all .4s;
	img {
		margin-right: 12px;
	}

	&:hover {
		background: darken($sunset-orange, 20%);
	}
}
